.user-table-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-table-container p {
  margin: 0px;
  text-align: center;
  margin-top: 10px;
}
